{# empty Twig template #}
{% block subject %}
    Votre réservation pour la visite du musée du Louvre le {{book.date|date('d-m-Y')}} a été validée.
{% endblock %}

{% block body_html %}
  <div style="background-color: #C0C0C0;"><a href="http://www.louvre.fr/"><img src="{{ absolute_url(asset('img/louvre.png')) }}" alt="header"></a></div>
    {% block main %}
        
        <div class="container">
            
            <br><div>
                <p style="text-align: justify">Bonjour,<br><br>
                    Nous avons le plaisir de vous confirmer la validation de votre réservation pour l'entrée du musée Louvre.
                    Nous vous prions de retrouver ci-dessous le récapilatif de celle-ci.<br><br>
                    <strong>Attention :</strong> Cet Email fera office de billet d'entrée. Ainsi il sera à présenter à l'entrée du musée. 
            </div>
            
            
            <h4> Votre Reservation </h4>
            
            <p>Nom : <strong>{{ book.name|capitalize }}</strong><br>
            Prénom : <strong>{{book.surname|capitalize }}</strong><br>
            Date de visite : <strong>{{ book.date|date('d-m-Y') }}</strong><br>
            N° de commande : <strong>{{ book.serial }}</strong></p>
            
            <div class="row">
                
                <div class="col-md-10" style="margin-left: 20px;">    
                    <h5> Vos billets :</h5>
                    {% for ticket in book.tickets %}   
                        <div class="card-block" style="border: solid; border-color: #C0C0C0; padding: 15px; border-radius: 10px;">
                            Nom : {{ ticket.name|capitalize }}<br>
                            Prénom  : {{ ticket.surname|capitalize }}<br>
                            Date de Naissance : {{ ticket.birthDate|date('d-m-Y') }}
                            {% if  ticket.discount == 1  %}
                                <br>
                                Tarfi réduit : Oui*                             
                            {%endif%}
                        </div>
                    {% endfor %}    
                        </div><br>   
                    <br>
                <p style="text-align: right;">
                    <strong>Montant de la commande TTC :</strong> {{book.amount}},00€
                </p>
                
                </div>
        <p style="font-weight: 0.5em;">* En cas de tarif réduit, il sera nécessaire de présenter le justificatif de la réduction lors de la présentation des billets.
            </div>
        

    {% endblock %}

{% endblock %}