{% extends 'P4BookingBundle::layout.html.twig' %}
{% block head %}   
{% endblock %}

{% block title %}
    <h3 class='title'>Reservez vos Billets</h3>
{% endblock %}

{% block main %}
    {% for message in app.session.flashbag.get('fullbookeddate') %}
            <div class="flash-notice">
                {{ message }}
            </div>
    {% endfor %}

    {% block form %}
        <div class="container">
        <form method="post">
            <div class="well" align="center">
               {{ form_start(form)}}

               <div class="form-group">
               {{ form_label(form.date, 'Date de réservation', {'label_attr': {'class': 'foo'}}) }}
               {{ form_widget(form.date, {'attr': {'class': 'js-datepicker'}}) }}
               </div>


               <div class="form-group">
               {{ form_label(form.mail, 'Adresse Mail', {'label_attr': {'class': 'foo'}}) }}
               {{ form_widget(form.mail, {'attr': {'class': 'foo'}}) }}
               </div>

               <div class="form-group">
               {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'foo'}}) }}
               {{ form_widget(form.name, {'attr': {'class': 'foo'}}) }}
               </div>

               <div class="form-group">
               {{ form_label(form.surname, 'Prénom', {'label_attr': {'class': 'foo'}}) }}
               {{ form_widget(form.surname, {'attr': {'class': 'foo'}}) }}
               </div>

               <div class="form-group">
               {{ form_label(form.country, 'Pays', {'label_attr': {'class': 'foo'}}) }}
               {{ form_widget(form.country, {'attr': {'class': 'foo'}}) }}
               </div>

               <div class="tickets" align="left">
                    <div class="form-group">
                        <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
                           <ul class="list-group"> 
                               <li class="list-group-item"><div class="col-md-12">{{form(form.ticket)}}</div></li>
                               <a href="#" id="add_ticket" class="btn btn-default"><button type="button" class="btn btn-outline-primary">Ajouter un Ticket</button></a>
                           </ul>
                           
                           
                        </div>
                          {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
                          {{ form_rest(form) }}
                          {{ form_end(form) }}
                    </div>
               </div>

               {{ form_rest(form) }}
            {{ form_end(form) }}
            </div>
        </form>
        </div>
    {% endblock %}
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src='../public/js/booking.js'></script>
{% endblock %}